<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>/idea-manager/demo</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/demo.css" />
    <script src="/js/demo.js" defer></script>
  </head>
  <body>
    <header>
      <div class="logo-container">
        <div class="logo">
          <span class="logo-img"><img src="/img/logo.svg" alt="logo" /></span
          ><span class="logo-txt">Ideas manager</span>
        </div>
      </div>
      <nav>
        <ul>
          <li>Menu główne</li>
          <li>Zaloguj się</li>
        </ul>
      </nav>
    </header>
    <main>
      <aside>
        <ul>
          <li class="li-table">Tablica</li>
          <li>Wszystkie</li>
          <li>Ostatnie</li>
          <li>Ulubione</li>
          <span class="li-categories">KATEGORIE</span>
          <li>Produkt</li>
          <li>Marketing</li>
          <li>Osobiste</li>
        </ul>
      </aside>
      <div class="ideas-container">
        <div class="ideas-header">
          <span><h2>MOJA TABLICA POMYSŁÓW</h2></span>
        </div>
        <div class="ideas-content"></div>
      </div>
    </main>
  </body>
</html>
