<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>/auth/login</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/auth.css" />
    <script src="/js/auth.js" defer></script>
  </head>
  <body>
    <main>
      <div class="auth-card">
        <div class="logo" id="goHome">
          <img src="/img/logo.svg" alt="logo" />
          <h3 class="logo-txt">Ideas manager</h3>
        </div>
        <div>
          <h2 class="card-title">Witaj z powrotem</h2>
          <p class="card-sub">Zaloguj się do swojego konta</p>
        </div>
        <form>
          <div class="field">
            <label for="Email">EMAIL</label>
            <input
              class="fields-input"
              name="Email"
              type="text"
              placeholder="nowak@gmail.com"
              required
            />
          </div>
          <div class="field">
            <label for="Password">HASŁO</label>
            <input
              class="fields-input"
              name="Password"
              type="text"
              placeholder="min. 8 znaków"
              required
            />
            <div class="checkbox-field">
              <input type="checkbox" class="checkbox" id="rememberMe" />
              <p class="rememberMe-txt">Zapamiętaj mnie</p>
            </div>
          </div>
          <button type="submit">Zaloguj się</button>
          <div class="divider">
            <div class="line"></div>
            <span>lub</span>
            <div class="line"></div>
          </div>
          <button>Kontynuuj z Google</button>
          <p class="toogleLoginSingup-txt">
            Nie masz konta?
            <a href="/auth/register">Zarejestruj się za darmo</a>
          </p>
        </form>
      </div>
    </main>
  </body>
</html>
