<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>/auth/register</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/auth.css" />
    <script src="/js/auth.js" defer></script>
  </head>
  <body>
    <main>
      <div class="auth-card">
        <div class="logo" id="goHome">
          <img src="/img/logo.svg" alt="logo" />
          <h3 class="logo-txt">Ideas manager</h3>
        </div>
        <div>
          <h2 class="card-title">Zacznij za darmo</h2>
          <p class="card-sub">Stwórz konto i zapisz pierwszy pomysł</p>
        </div>
        <form>
          <div class="fullname-field">
            <div class="field">
              <label for="Name">IMIĘ</label>
              <input
                class="fields-input"
                name="Name"
                type="text"
                placeholder="Jan"
                required
              />
            </div>
            <div class="field">
              <label for="Surname">NAZWISKO</label>
              <input
                class="fields-input"
                name="Surname"
                type="text"
                placeholder="Nowak"
                required
              />
            </div>
          </div>
          <div class="field">
            <label for="Email">EMAIL</label>
            <input
              class="fields-input"
              name="Email"
              type="text"
              placeholder="nowak@gmail.com"
              required
            />
          </div>
          <div class="field">
            <label for="Password">HASŁO</label>
            <input
              class="fields-input"
              name="Password"
              type="text"
              placeholder="min. 8 znaków"
              required
            />
          </div>
          <div class="field">
            <label for="confirmPassword">POWTÓRZ HASŁO</label>
            <input
              class="fields-input"
              name="confirmPassword"
              type="text"
              placeholder="********"
              required
            />
          </div>
          <div class="checkbox-field">
            <input
              type="checkbox"
              class="checkbox"
              id="termsAccepted"
              required
            />
            <p class="termsAccepted-txt">
              Akceptuję <a>regulamin</a> i <a>politykę prywatności</a>
            </p>
          </div>
          <button type="submit">Zarejestruj się</button>
          <div class="divider">
            <div class="line"></div>
            <span>lub</span>
            <div class="line"></div>
          </div>
          <button>Kontynuuj z Google</button>
          <p class="toogleLoginSingup-txt">
            Masz już konto?
            <a href="/auth/login"> Zaloguj się</a>
          </p>
        </form>
      </div>
    </main>
  </body>
</html>
